<h1>OverNight Parking, IIIT Delhi</h1>
<h2>Login</h2>
<h5>Kindly login with your IIITD email id.</h5>

<% flash.each  do |key,value| %>
    <%= content_tag :div, value, class: "flash #{key}"%>
<% end %>

<%= form_tag(:controller => 'sessions',:action => 'login_attempt') do %>
    <p>Username or Email : <br> <%= text_field_tag(:username_or_email) %></p>
    <p>Password:<br> <%= password_field_tag :login_password %></p>
    <%= submit_tag("log in") %>

<% end %>

<%= link_to 'Sign Up','signup' %>
